body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
 position: relative;
  width: 80vw;
  max-width: 1441px;
  aspect-ratio: 1441 / 942;
  margin: 0 auto;

  background-image: url(assets/collage.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.photos {
  transition: all 250ms ease-in-out;
}

.photos:hover {
  filter: drop-shadow(0 0 20px rgba(255, 202, 233, 0.8));
  cursor: pointer;
  transform: scale(1.05);
  z-index: 100 !important;
}